@media only screen and (max-width: 1200px) {
    .consultation__header {
        text-align: center;
    }
    .consultation__description {
        text-align: center;
    }
    .form {
        margin: 0 auto;
    }
}
@media only screen and (max-width: 991px) {
    
}