.advantages {
    background-color: #f6f6f6;
    padding: 69px 0 81px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 238px;
    }    
    &__img {
        margin-bottom: 38px;
        &_animated-heart {
            &:hover {
               animation: heartbeat 2s infinite; 
            }  
        }
        &_animated-shoe {
            &:hover {
               animation: shoerun 2s infinite; 
            }   
        }
        &_animated-cup {
            &:hover {
                animation: cuprot 2s infinite;
            }
        }
    }
    
    &__subtitle {
        margin-bottom: 25px;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__description {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: #0d0d0d;
        a {
            text-decoration: underline;
            color: #ff0000;
        }
    }


}
