.catalog {
    padding: 27px 0 87px 0;
    &__tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 59px;
    }
    &__tab {
        display: block;
        width: 220px;
        height: 50px;
        border: 2px solid #bdbdbd;
        font-size: 18px;
        line-height: 48px;
        font-weight: 400;
        text-transform: uppercase;
        color: #6b6b6b;
        list-style-type: none;
        text-align: center;
        margin: 0 5px;
        transform: skewx(-45deg);
        cursor: pointer;
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
        }
        div {
            transform: skewx(45deg);
        }
        &_active {
            background-color: $main-color;
            border: none;
            color: #fff;
        }       
    }
    &__items {
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
    }
    &-item {
        width: 300px;
        height: 440px;
        border: 2px solid #e8e8e8;
        padding: 20px 20px 26px 20px;
        margin-bottom: 20px;
        overflow: hidden;
        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
            margin-bottom: 20px;
        }
        &__subtitle {
            text-align: center;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            color: #0d0d0d;
            margin-bottom: 16px;
        }
        &__description {
            text-align: center;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 300;
            color: #0d0d0d;
            margin-bottom: 17px;
        }
        &__link {
            display: block;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 500;
            text-decoration: underline;
            color: $main-color;
            text-align: center;
            margin-bottom: 19px;
            &:hover {
               color: $main-color; 
            }
        }
        hr {
            margin-bottom: 21px;
            margin-top: 0;
        }
        &__footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__old-price {
            text-decoration: line-through;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 300;
            color: #555555;
        }
        &__new-price {
            font-size: 20px;
            line-height: 1.2;
            font-weight: 700;
            color: #050505;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            transform: translateX(-100%);
            margin-right: 0px;
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__switch {
            position: relative;
            width: 50%;
            padding-left: 18px;
            padding-right: 20px;
            transform: translateX(0%);
            list-style-type: none;
            transition: 0.5s all;
            &_active {
                transform: translateX(-100%);
                margin-left: 0px;
                // transition: all 0.45s;
            }
            li {
                position: relative;
                font-size: 14px;
                line-height: 1.2;
                font-weight: 300;
                color: #555555;
                margin-bottom: 20px;
                &::before {
                    position: absolute;
                    content: "";
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    top: 6px;
                    left: -14px;
                }
            }
        }
        &__back {
            position: absolute;
            left: 50%;
            transform: translateX(calc(-50% - 19px));
            display: block;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 500;
            color: #c70101;
            bottom: 0;
            text-transform: uppercase;
        }
    }  
}